/* #paragraf1 {
    color : pink;
} */

/* .paragraf {
    color : red;
} */

/* p{
    color : blue;

}

.pargraf1 {
    color : pink;
}

.paragraf2 {
    color : green;
}

#paragraf3 {
    color : red;
} */

/* p#paragraf1.paragraf1 {
    color : green;
} */

/* p{
    color : hsl(120, 20%, 50%);
    font-size : 36px;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-weight : bold;
    text-align : center;
    background-color : black;
} */

/* div {
    width : 100px;
    height : 100px;
    border-style : solid;
   
    background-color : cyan;
    border-top : 10px;
    border-color : black;
    border-top-width : 10px;
    border-top-style : solid;
    margin-bottom: 50px;

}

.div2 {
    width : 100px;
    height : 100px;
    border-style : solid;
    padding-top : 10px;
    background-color : cyan;
    border-top : 10px;
    border-color : black;
    border-top-width : 10px;
    border-top-style : solid;

} */